<div class="wrapper">
  <div class="container">
    <h1 class="text-center">Stupid Coaching</h1>
    <div>
      <form action="/answer">
        <input type="text" name="question" class="field">
        <br>
        <input class="btn btn-primary text-center" type="submit" value="Ask your coach!">
      </form>
    </div>
  </div>
</div>
