// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$url: 'https://mediadc.brightspotcdn.com/dims4/default/2d29faf/2147483647/strip/true/crop/1320x880+0+0/resize/1320x880!/quality/90/?url=https%3A%2F%2Fmediadc.brightspotcdn.com%2F17%2Fb0%2Fa4bfe9de32366e61ea166a55359f%2F039c3ef2e4fee02da064a7d5ec738d60.jpg';
$liteGrey: #EDEFF0;

h1, h2 {
font-family: 'Pacifico';
font-weight: regular;
color: #white;
line-height: 200%;
}

body {
  background: $liteGrey;
}

.container {
height:100%;
width: 350px;
display: flex;
flex-direction: column;
justify-content: center;
color: white;
}

.wrapper {
  margin-top: 10%;
  background-image: url($url);
  height: 50vh;
  width: cover;
}

.field {
  width: 100%;
  height: 2.2em;
}

.headers {
  text-align:center;
}

.my-question {
  font-family: 'Roboto';
  background-color:white;
  text-align: left;
  font-size: 1.3em;
}

.answer {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  background-color:white;
  font-size: 1.3em;
}
.footer {
  text-align:center;
}
.contain {
  margin: 20px auto;
  width: 400px;
  padding: 20px;
  border: 1px solid #1E1E1E;
}

a {
  text-decoration: none;
  background-color: #1E1E1E;
  color: white;
  padding: 7px 50px;
  opacity: 0.8;
  transition: all 0.2s ease-in;
}

a:hover {
text-decoration: none;
opacity: 1;
color: white;
}
